<div class="row">
<div class="col-xs-12">
  <h1>Compatible Memory</h1>
</div>
<div class="row">
  <div class="col-xs-12 input-field">
    <input type="text" id="search" placeholder="Enter any search term" ng-model="searchTerm">
  </div>
  <div>
    <div class="panel panel-default" ng-repeat="mem in memData | filter: searchTerm">
      <div class="panel-body">
        <div class="col-xs-2 socket">{{mem.name}}</div>
        <div class="col-xs-2 mem-price">Price: {{mem.price}}</div>
        <div class="col-xs-2 max-mem">Clock: {{mem.speed}}MHz</div>
        <div class="col-xs-2 max-slots">CAS Latency: {{mem.CAS}}</div>
        <div class="col-xs-2 mem-socket">Capacity: {{mem.size}}</div>
        <div class="col-xs-2 mem-socket">Module Config: {{mem.modules}}</div>
        <div class="col-xs-2 add"><button class="btn btn-info btn-sm" ng-click="addMemToComp(mem)"><i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i> Add</button></div>
      </div>
    </div>
  </div>
</div>
</div>